---
import MainLayout from "~/layouts/MainLayout.astro";
---

<MainLayout>
  <div class="fixed top-0 right-7 z-10 w-1/5 bg-accent-1 p-4 rounded-b-3xl shadow-lg flex justify-center">
    {/* Bouton de redirection */}
    <a href="/" class="mx-2">
      <button class="px-4 py-2 rounded-full bg-accent-1 text-neutral-6 hover:text-primary-9">
        Accueil
      </button>
    </a>
    <a href="/veille" class="mx-2">
      <button class="px-4 py-2 rounded-full bg-accent-1 text-neutral-6 hover:text-primary-9">
        Veille Technologique
      </button>
    </a>
  </div>

  <main class="container p-3 mx-auto max-w-screen-lg min-h-dvh" style="color: #333; background-color: #f9f9f9; box-shadow: 0 0 10px rgba(0,0,0,0.1); border-radius: 10px;">
    <h1 class="text-3xl font-bold mb-8 text-center">Veille Technologique</h1>
    <div>
      {/* Ajoutez ici le contenu de votre page de veille technologique */}
    </div>
  </main>
</MainLayout>

<style>
  /* boxes pattern */
  body {
    z-index: 1;
    position: relative;
    background-color: #f9f9f9; /* Fond légèrement grisé */
    color: #333; /* Texte noir */
  }
</style>
